*{

    padding: 0;
    margin: 0;

}

/*body {

background-color: rgb(239, 239, 239);

}*/

body {
        background-image: url('IMG_20260228_203521.jpg');

        background-repeat: no-repeat;

        background-size: 100%;

        background-position: center;

        background-attachment: fixed;

        background-color: #cccccc;

        font-family: Arial, sans-serif;
    }

@keyframes entradaSuave {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {

    text-align: center;
    background-color: rgb(180, 164, 145);
    font-family: Type Machine, monospace;
    color:black;
    padding: 20px;
}

nav ul {

    margin-top: 0px;
    background-color: rgb(213, 213, 213);
    width: 100%;
    list-style: none;
    text-align: center;
    margin-bottom: 10%;

}

nav li { 

    display: inline-flex;

}

nav a {

    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    width: 150px;

}

nav li:hover {

    background-color: rgb(247, 255, 176);
    transition: all 0.5s ease;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s ease-out; /* Duración de la animación */
}

/* Estado cuando el elemento entra en pantalla */
.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.P1{

    width: 50%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    top: 30%;
    left: 10%;
    z-index: 32;

    animation: entradaSuave 1s ease-out forwards;

}

.mifoto{

    text-align: center;
    position: relative;
    top: -170px;
    left: 60%;
    width: 50%;

    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        z-index: 30;

        animation: entradaSuave 1s ease-out 0.5s forwards;
        opacity: 0;
    }

    .a{

        width: 35%;
        height: 35%;
        position: relative;
        z-index: -21;
        left: -233px;
        top: 25px;
        filter: grayscale(50%);

    }

    .b{

        width: 15%;
        height: 15%;
        position: relative;
        z-index: 35;
        left: -315px;
        top: 15px;

    }

}

.P2{

    width: 80%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    top: -130px;
    left: 10%;
    z-index: 32;

    /*animation: entradaSuave 1s ease-out forwards;*/

}

.Fotosrecuerdos{ 

    text-align: center;
    margin-top: -110px;

    img{

        width: 20%;
        height: auto;
        margin: 1%;

        /*animation: entradaSuave 1s ease-out 0.5s forwards;
        opacity: 0;*/

    }

}

.P3{

    width: 80%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    top: 10px;
    left: 10%;
    z-index: 32;

    /*animation: entradaSuave 1s ease-out forwards;*/

}

.profes{

    text-align: center;
    margin-top: 20px;

    z-index: 32;

    img{

        width: 20%;
        height: auto;
        margin: 1%;

    }

}

.profesig{

    z-index: 32;
    
    img{

        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        border-radius: 3px;

    }

    a{
        text-decoration: none;
    }

}

.profesig :hover{

    width: 20%;
    transform: scale(1.1);
    transition: all 0.8s ease;

}

.P4{

    width: 80%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    top: 10px;
    left: 10%;
    z-index: 32;

    /*animation: entradaSuave 1s ease-out forwards;*/

}

.Pandemia{

    text-align: center;
    margin-top: 20px;

    z-index: 32;

    img{

        width: 20%;
        height: auto;
        margin: 1%;

    }

}

.P5{

    width: 80%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    top: 10px;
    left: 10%;
    z-index: 32;

    /*animation: entradaSuave 1s ease-out forwards;*/

}

.prepa{ 

    text-align: center;
    margin-top: 25px;

    z-index: 32;

    img{

        width: 20%;
        height: auto;
        margin: 1%;

    }

}

.P6{ 

    width: 80%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    top: 10px;
    left: 10%;  
    z-index: 32;

    /*animation: entradaSuave 1s ease-out forwards;*/

}

.P7{ 

    width: 80%;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    top: 10px;
    left: 10%;
    margin-bottom: 5%;
    z-index: 32;
    
    /*animation: entradaSuave 1s ease-out forwards;*/

}